# Lesson #6

## Optimization in Pandas

In [85]:
data_list = list(range(10000))
data_list[:5]

[0, 1, 2, 3, 4]

In [86]:
%%time

if 5000 in data_list:
    print('Found')

Found
CPU times: total: 0 ns
Wall time: 0 ns

In [87]:
%%time

for _ in range(10 ** 5):
    if 5000 in data_list:
        pass

CPU times: total: 4.53 s
Wall time: 4.55 s

In [88]:
set([3, 1, 2])

{1, 2, 3}

In [89]:
data_set = set(range(10000))

In [90]:
%%time

for _ in range(10 ** 5):
    if 5000 in data_set:
        pass

CPU times: total: 0 ns
Wall time: 6.98 ms

In [91]:
import pandas as pd

In [92]:
table = pd.read_csv('data/test/links.csv')
table.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [93]:
%%time

for _ in range(10 ** 4):
    table[(table.movieId=='1') & (table.imdbId==113041)]

CPU times: total: 3.34 s
Wall time: 3.32 s

In [94]:
# Another approach with list comprehension
with open('data/test/links.csv') as f:
    next(f)
    table = [x.strip().split(',') for x in f.readlines()]

In [95]:
table[:2]

[['1', '0114709', '862'], ['2', '0113497', '8844']]

In [96]:
%%time

#                movieId,  imdbId,  tmdbId
line_to_search = ['3952','0208874', '6521']

for _ in range(10 ** 4):
    [x for x in table if x[:3] == line_to_search]

CPU times: total: 11.8 s
Wall time: 11.8 s

In [97]:
# Can we do faster ?
tuple_to_search = ('3952', '6521')

In [98]:
dict_ = {}

for line in table:
    key = tuple(line[:1] + line[2:])
    value = line[1]
    
    dict_[key] = value

In [99]:
dict_

{('1', '862'): '0114709',
 ('2', '8844'): '0113497',
 ('3', '15602'): '0113228',
 ('4', '31357'): '0114885',
 ('5', '11862'): '0113041',
 ('6', '949'): '0113277',
 ('7', '11860'): '0114319',
 ('8', '45325'): '0112302',
 ('9', '9091'): '0114576',
 ('10', '710'): '0113189',
 ('11', '9087'): '0112346',
 ('12', '12110'): '0112896',
 ('13', '21032'): '0112453',
 ('14', '10858'): '0113987',
 ('15', '1408'): '0112760',
 ('16', '524'): '0112641',
 ('17', '4584'): '0114388',
 ('18', '5'): '0113101',
 ('19', '9273'): '0112281',
 ('20', '11517'): '0113845',
 ('21', '8012'): '0113161',
 ('22', '1710'): '0112722',
 ('23', '9691'): '0112401',
 ('24', '12665'): '0114168',
 ('25', '451'): '0113627',
 ('26', '16420'): '0114057',
 ('27', '9263'): '0114011',
 ('28', '17015'): '0114117',
 ('29', '902'): '0112682',
 ('30', '37557'): '0115012',
 ('31', '9909'): '0112792',
 ('32', '63'): '0114746',
 ('34', '9598'): '0112431',
 ('35', '47018'): '0112637',
 ('36', '687'): '0112818',
 ('37', '139405'): '0112286',
 ('38', '33689'): '0113442',
 ('39', '9603'): '0112697',
 ('40', '34615'): '0112749',
 ('41', '31174'): '0114279',
 ('42', '11443'): '0112819',
 ('43', '35196'): '0114272',
 ('44', '9312'): '0113855',
 ('45', '577'): '0114681',
 ('46', '11861'): '0113347',
 ('47', '807'): '0114369',
 ('48', '10530'): '0114148',
 ('49', '8391'): '0114916',
 ('50', '629'): '0114814',
 ('52', '11448'): '0113819',
 ('53', '49133'): '0110299',
 ('54', '26441'): '0112499',
 ('55', '97406'): '0113158',
 ('57', '9089'): '0113321',
 ('58', '11010'): '0110877',
 ('59', '99040'): '0112714',
 ('60', '11359'): '0113419',
 ('61', '17182'): '0116260',
 ('62', '2054'): '0113862',
 ('63', '10607'): '0116126',
 ('64', '19760'): '0118002',
 ('65', '9536'): '0115683',
 ('66', '11525'): '0116839',
 ('68', '4482'): '0113149',
 ('69', '10634'): '0113118',
 ('70', '755'): '0116367',
 ('71', '11859'): '0113010',
 ('72', '28387'): '0113537',
 ('73', '48750'): '0113828',
 ('74', '20927'): '0115644',
 ('76', '9102'): '0114367',
 ('77', '124626'): '0113973',
 ('78', '27526'): '0112744',
 ('79', '9623'): '0116731',
 ('80', '46785'): '0112445',
 ('81', '400'): '0114660',
 ('82', '880'): '0112379',
 ('83', '146599'): '0114039',
 ('84', '188588'): '0113612',
 ('85', '8447'): '0112365',
 ('86', '10534'): '0118158',
 ('87', '17414'): '0116151',
 ('88', '13997'): '0115697',
 ('89', '2086'): '0113972',
 ('92', '9095'): '0117002',
 ('93', '12158'): '0114825',
 ('94', '9283'): '0115639',
 ('95', '9208'): '0115759',
 ('96', '40154'): '0113403',
 ('97', '406'): '0113247',
 ('98', '45549'): '0111173',
 ('99', '63076'): '0113283',
 ('100', '11062'): '0115907',
 ('101', '13685'): '0115734',
 ('102', '47475'): '0117102',
 ('103', '2045'): '0118040',
 ('104', '9614'): '0116483',
 ('105', '688'): '0112579',
 ('107', '10874'): '0117110',
 ('108', '89333'): '0112646',
 ('110', '197'): '0112573',
 ('111', '103'): '0075314',
 ('112', '33542'): '0113326',
 ('113', '43566'): '0115645',
 ('114', '71754'): '0113774',
 ('116', '51352'): '0112373',
 ('117', '16934'): '0115033',
 ('118', '10324'): '0116606',
 ('119', '78406'): '0114536',
 ('121', '32119'): '0106473',
 ('122', '11066'): '0103859',
 ('123', '11104'): '0109424',
 ('124', '37975'): '0114808',
 ('125', '2074'): '0116324',
 ('126', '27793'): '0110647',
 ('129', '110972'): '0114131',
 ('130', '32622'): '0112364',
 ('131', '73067'): '0113107',
 ('132', '11863'): '0113451',
 ('135', '9101'): '0116130',
 ('137', '5757'): '0113756',
 ('140', '9302'): '0118055',
 ('141', '11000'): '0115685',
 ('144', '16388'): '0112585',
 ('145', '9737'): '0112442',
 ('146', '30765'): '0112342',
 ('147', '10474'): '0112461',
 ('148', '22279'): '0112427',
 ('149', '30157'): '0109093',
 ('150', '568'): '0112384',
 ('151', '11780'): '0114287',
 ('152', '34996'): '0112288',
 ('153', '414'): '0112462',
 ('154', '649'): '0061395',
 ('155', '1873'): '0112495',
 ('156', '5894'): '0112541',
 ('157', '1775'): '0109370',
 ('158', '8839'): '0112642',
 ('159', '20649'): '0112688',
 ('160', '10329'): '0112715',
 ('161', '8963'): '0112740',
 ('162', '26564'): '0109508',
 ('163', '8068'): '0112851',
 ('164', '8512'): '0112857',
 ('165', '1572'): '0112864',
 ('166', '13552'): '0112887',
 ('167', '259209'): '0113044',
 ('168', '6520'): '0113071',
 ('169', '9073'): '0113114',
 ('170', '10428'): '0113243',
 ('171', '17447'): '0113464',
 ('172', '9886'): '0113481',
 ('173', '9482'): '0113492',
 ('174', '19326'): '0113500',
 ('175', '9344'): '0113540',
 ('176', '9071'): '0113677',
 ('177', '8973'): '0113690',
 ('178', '15730'): '0107447',
 ('179', '47608'): '0113729',
 ('180', '2293'): '0113749',
 ('181', '9070'): '0113820',
 ('183', '48787'): '0110604',
 ('184', '34574'): '0110620',
 ('185', '1642'): '0113957',
 ('186', '11472'): '0113986',
 ('187', '36196'): '0114095',
 ('188', '11980'): '0114194',
 ('189', '58372'): '0114241',
 ('190', '32646'): '0114323',
 ('191', '10533'): '0114345',
 ('193', '10802'): '0114436',
 ('194', '10149'): '0114478',
 ('195', '18402'): '0114496',
 ('196', '9348'): '0114508',
 ('198', '281'): '0114558',
 ('199', '5967'): '0058450',
 ('200', '79593'): '0114666',
 ('201', '47939'): '0114663',
 ('202', '36834'): '0114702',
 ('203', '9090'): '0114682',
 ('204', '3512'): '0114781',
 ('205', '52856'): '0114798',
 ('206', '77350'): '0114805',
 ('207', '9560'): '0114887',
 ('208', '9804'): '0114898',
 ('209', '31611'): '0114928',
 ('211', '49805'): '0109340',
 ('213', '50797'): '0111579',
 ('214', '19155'): '0110882',
 ('215', '76'): '0112471',
 ('216', '11017'): '0112508',
 ('217', '37141'): '0112438',
 ('218', '9382'): '0112571',
 ('219', '6715'): '0112757',
 ('220', '18256'): '0112643',
 ('222', '22625'): '0112679',
 ('223', '2292'): '0109445',
 ('224', '1909'): '0112883',
 ('225', '8984'): '0109635',
 ('227', '4954'): '0109676',
 ('228', '62488'): '0112854',
 ('229', '10531'): '0109579',
 ('230', '11929'): '0109642',
 ('231', '8467'): '0109686',
 ('232', '10451'): '0111797',
 ('233', '20156'): '0109759',
 ('234', '18395'): '0109758',
 ('235', '522'): '0109707',
 ('236', '397'): '0113117',
 ('237', '10525'): '0113097',
 ('238', '27985'): '0113028',
 ('239', '15789'): '0113198',
 ('240', '27303'): '0113303',
 ('241', '21183'): '0113089',
 ('242', '10954'): '0109771',
 ('243', '47867'): '0113199',
 ('244', '43475'): '0113234',
 ('245', '72031'): '0109906',
 ('246', '14275'): '0110057',
 ('247', '1024'): '0110005',
 ('248', '17207'): '0110066',
 ('249', '13701'): '0110116',
 ('250', '14819'): '0110006',
 ('251', '32631'): '0113360',
 ('252', '11777'): '0110099',
 ('253', '628'): '0110148',
 ('254', '87729'): '0113463',
 ('255', '18713'): '0110189',
 ('256', '6280'): '0110216',
 ('257', '9061'): '0113501',
 ('258', '37108'): '0113538',
 ('259', '6071'): '0113552',
 ('260', '11'): '0076759',
 ('261', '9587'): '0110367',
 ('262', '19101'): '0113670',
 ('263', '49980'): '0110296',
 ('264', '17961'): '0109731',
 ('265', '18183'): '0103994',
 ('266', '4476'): '0110322',
 ('267', '11008'): '0110443',
 ('268', '47504'): '0110365',
 ('269', '32325'): '0107566',
 ('270', '43742'): '0110391',
 ('271', '28313'): '0113691',
 ('272', '11318'): '0110428',
 ('273', '3036'): '0109836',
 ('274', '40490'): '0113755',
 ('275', '24070'): '0110538',
 ('276', '8986'): '0110516',
 ('277', '10510'): '0110527',
 ('278', '17402'): '0113808',
 ('279', '38722'): '0113896',
 ('280', '8438'): '0113870',
 ('281', '11593'): '0110684',
 ('282', '1945'): '0110638',
 ('283', '39310'): '0113967',
 ('285', '56428'): '0106402',
 ('287', '131957'): '0110671',
 ('288', '241'): '0110632',
 ('289', '9058'): '0110737',
 ('290', '527'): '0110729',
 ('291', '18220'): '0114151',
 ('292', '6950'): '0114069',
 ('293', '101'): '0110413',
 ('294', '63020'): '0114113',
 ('295', '2307'): '0114210',
 ('296', '680'): '0110912',
 ('299', '40156'): '0110889',
 ('300', '11450'): '0110932',
 ('301', '30304'): '0114129',
 ('302', '10452'): '0110963',
 ('303', '12106'): '0114214',
 ('304', '161495'): '0114296',
 ('305', '3586'): '0110907',
 ('306', '110'): '0111495',
 ('307', '108'): '0108394',
 ('308', '109'): '0111507',
 ('309', '159185'): '0110769',
 ('312', '28033'): '0114571',
 ('313', '22586'): '0111333',
 ('314', '14334'): '0111112',
 ('315', '2636'): '0111255',
 ('316', '2164'): '0111282',
 ('317', '11395'): '0111070',
 ('318', '278'): '0111161',
 ('319', '9905'): '0111149',
 ('320', '87078'): '0108260',
 ('321', '12527'): '0106966',
 ('322', '20306'): '0114594',
 ('324', '36614'): '0111309',
 ('325', '27993'): '0113936',
 ('326', '31439'): '0110081',
 ('327', '9067'): '0114614',
 ('328', '9059'): '0114608',
 ('329', '193'): '0111280',
 ('330', '25066'): '0114609',
 ('331', '46797'): '0111454',
 ('332', '12122'): '0114852',
 ('333', '11381'): '0114694',
 ('334', '32636'): '0111590',
 ('335', '36141'): '0114788',
 ('336', '95963'): '0114888',
 ('337', '1587'): '0108550',
 ('338', '9271'): '0114857',
 ('339', '2064'): '0114924',
 ('340', '19855'): '0111667',
 ('341', '60855'): '0109655',
 ('342', '236'): '0110598',
 ('343', '48287'): '0112435',
 ('344', '3049'): '0109040',
 ('345', '2759'): '0109045',
 ('346', '12635'): '0106339',
 ('347', '10497'): '0104779',
 ('348', '11382'): '0109348',
 ('349', '9331'): '0109444',
 ('350', '10731'): '0109446',
 ('351', '10464'): '0109484',
 ('352', '34152'): '0109504',
 ('353', '9495'): '0109506',
 ('354', '29973'): '0109450',
 ('355', '888'): '0109813',
 ('356', '13'): '0109830',
 ('357', '712'): '0109831',
 ('358', '16295'): '0113305',
 ('360', '10879'): '0110093',
 ('361', '10660'): '0110167',
 ('362', '10714'): '0110213',
 ('363', '41647'): '0107472',
 ('364', '8587'): '0110357',
 ('365', '1689'): '0107426',
 ('366', '11596'): '0111686',
 ('367', '854'): '0110475',
 ('368', '9359'): '0110478',
 ('369', '23333'): '0110588',
 ('370', '36593'): '0110622',
 ('371', '12280'): '0110771',
 ('372', '2788'): '0110950',
 ('373', '10427'): '0105226',
 ('374', '11011'): '0110989',
 ('375', '49803'): '0111054',
 ('376', '8987'): '0110997',
 ('377', '1637'): '0111257',
 ('378', '15128'): '0111256',
 ('379', '8831'): '0111438',
 ('380', '36955'): '0111503',
 ('381', '10449'): '0111693',
 ('382', '10395'): '0111742',
 ('383', '12160'): '0111756',
 ('384', '40480'): '0112443',
 ('387', '26352'): '0110399',
 ('388', '39953'): '0112570',
 ('389', '41580'): '0109454',
 ('390', '315'): '0059170',
 ('391', '22067'): '0110186',
 ('392', '18242'): '0108069',
 ('393', '11667'): '0111301',
 ('401', '226229'): '0113827',
 ('405', '8011'): '0110027',
 ('407', '2654'): '0113409',
 ('408', '18069'): '0109021',
 ('409', '19092'): '0109035',
 ('410', '2758'): '0106220',
 ('412', '10436'): '0106226',
 ('413', '13595'): '0109068',
 ('414', '46094'): '0109067',
 ('415', '9409'): '0106292',
 ('416', '11853'): '0109198',
 ('417', '16771'): '0109219',
 ('418', '46924'): '0106379',
 ('419', '11041'): '0106400',
 ('420', '306'): '0109254',
 ('421', '14522'): '0109279',
 ('422', '26203'): '0109297',
 ('423', '178'): '0109303',
 ('424', '19819'): '0109305',
 ('425', '57834'): '0109306',
 ('426', '4722'): '0106452',
 ('427', '18215'): '0106471',
 ('428', '1607'): '0106489',
 ('429', '26391'): '0109361',
 ('431', '6075'): '0106519',
 ('432', '11310'): '0109439',
 ('433', '18658'): '0109443',
 ('434', '9350'): '0106582',
 ('435', '9612'): '0106598',
 ('436', '2124'): '0109456',
 ('437', '26261'): '0109480',
 ('438', '19176'): '0109493',
 ('439', '49299'): '0106660',
 ('440', '11566'): '0106673',
 ('441', '9571'): '0106677',
 ('442', '9739'): '0106697',
 ('443', '24257'): '0109729',
 ('444', '34444'): '0106834',
 ('445', '26141'): '0106873',
 ('446', '10997'): '0106332',
 ('447', '50463'): '0109783',
 ('448', '10443'): '0106881',
 ('449', '20239'): '0106880',
 ('450', '16297'): '0111732',
 ('451', '18551'): '0106926',
 ('452', '25440'): '0111712',
 ('453', '9024'): '0106941',
 ('454', '37233'): '0106918',
 ('455', '1634'): '0106965',
 ('456', '13815'): '0109842',
 ('457', '5503'): '0106977',
 ('458', '35588'): '0107004',
 ('459', '2087'): '0109890',
 ('460', '41579'): '0109891',
 ('461', '18620'): '0109913',
 ('463', '4916'): '0107057',
 ('464', '2019'): '0107076',
 ('465', '31642'): '0107096',
 ('466', '9255'): '0107144',
 ('467', '26271'): '0113674',
 ('468', '10612'): '0112966',
 ('469', '2259'): '0107151',
 ('470', '16097'): '0110064',
 ('471', '11934'): '0110074',
 ('472', '106143'): '0110097',
 ('473', '12475'): '0110123',
 ('474', '9386'): '0107206',
 ('475', '7984'): '0107207',
 ('476', '59930'): '0110137',
 ('477', '15765'): '0108551',
 ('479', '6'): '0107286',
 ('480', '329'): '0107290',
 ('481', '10909'): '0107302',
 ('482', '507'): '0110265',
 ('483', '34024'): '0107322',
 ('484', '29918'): '0110305',
 ('485', '9593'): '0107362',
 ('486', '42580'): '0107413',
 ('487', '22317'): '0110353',
 ('488', '1413'): '0107468',
 ('489', '12121'): '0107478',
 ('490', '2246'): '0107497',
 ('491', '10502'): '0107501',
 ('492', '10440'): '0107507',
 ('493', '9516'): '0107554',
 ('494', '2320'): '0116253',
 ('495', '5879'): '0074102',
 ('496', '83718'): '0111689',
 ('497', '11971'): '0107616',
 ('498', '2625'): '0107611',
 ('499', '31911'): '0107613',
 ('500', '788'): '0107614',
 ('501', '21450'): '0107653',
 ('502', '11231'): '0110657',
 ('504', '10447'): '0110678',
 ('505', '31586'): '0110687',
 ('506', '9300'): '0107756',
 ('507', '9559'): '0107808',
 ('508', '9800'): '0107818',
 ('509', '713'): '0107822',
 ('510', '8291'): '0107840',
 ('511', '18133'): '0107889',
 ('512', '25557'): '0111003',
 ('513', '22588'): '0110939',
 ('514', '10872'): '0110955',
 ('515', '1245'): '0107943',
 ('516', '11858'): '0110971',
 ('517', '7007'): '0107969',
 ('518', '10467'): '0111001',
 ('519', '5550'): '0107978',
 ('520', '8005'): '0107977',
 ('521', '2088'): '0107983',
 ('522', '10412'): '0105275',
 ('523', '47889'): '0108000',
 ('524', '14534'): '0108002',
 ('526', '41878'): '0105032',
 ('527', '424'): '0108052',
 ('528', '35233'): '0111094',
 ('529', '14291'): '0108065',
 ('531', '11236'): '0108071',
 ('532', '11592'): '0111127',
 ('533', '8850'): '0111143',
 ('534', '10445'): '0108101',
 ('535', '695'): '0108122',
 ('536', '43535'): '0111194',
 ('537', '12519'): '0111201',
 ('538', '23210'): '0108149',
 ('539', '858'): '0108160',
 ('540', '867'): '0108162',
 ('541', '78'): '0083658',
 ('542', '13203'): '0108186',
 ('543', '10442'): '0108174',
 ('544', '11074'): '0108238',
 ('546', '9607'): '0108255',
 ('547', '17585'): '0111323',
 ('548', '9057'): '0111400',
 ('549', '20967'): '0108328',
 ('550', '10635'): '0111418',
 ('551', '9479'): '0107688',
 ('552', '10057'): '0108333',
 ('553', '11969'): '0108358',
 ('554', '41590'): '0111488',
 ('555', '319'): '0108399',
 ('556', '26408'): '0108515',
 ('558', '15139'): '0110763',
 ('559', '161158'): '0107779',
 ('561', '85247'): '0110259',
 ('562', '11446'): '0114906',
 ('563', '51980'): '0107002',
 ('564', '24405'): '0109403',
 ('565', '11655'): '0104029',
 ('567', '8223'): '0107315',
 ('568', '14587'): '0106408',
 ('569', '31504'): '0110363',
 ('571', '53185'): '0111709',
 ('573', '23637'): '0107225',
 ('574', '17600'): '0111252',
 ('575', '10897'): '0110366',
 ('577', '21352'): '0109120',
 ('580', '37345'): '0110892',
 ('581', '32562'): '0112651',
 ('582', '47507'): '0107642',
 ('585', '9066'): '0112572',
 ('586', '771'): '0099785',
 ('587', '251'): '0099653',
 ('588', '812'): '0103639',
 ('589', '280'): '0103064',
 ('590', '581'): '0099348',
 ('592', '268'): '0096895',
 ('593', '274'): '0102926',
 ('594', '408'): '0029583',
 ('595', '10020'): '0101414',
 ('596', '10895'): '0032910',
 ('597', '114'): '0100405',
 ('599', '576'): '0065214',
 ('600', '15477'): '0110395',
 ('603', '30528'): '0112606',
 ('605', '7300'): '0117247',
 ('606', '10824'): '0112625',
 ('608', '275'): '0116282',
 ('609', '25059'): '0116552',
 ('610', '11827'): '0082509',
 ('611', '8766'): '0116514',
 ('612', '23570'): '0117283',
 ('613', '47333'): '0116684',
 ('614', '54850'): '0110374',
 ('615', '51242'): '0070506',
 ('616', '10112'): '0065421',
 ('617', '4307'): '0113083',
 ('619', '32308'): '0116165',
 ('620', '88893'): '0102855',
 ('621', '52873'): '0107471',
 ('626', '28121'): '0117891',
 ('627', '12520'): '0113613',
 ('628', '1592'): '0117381',
 ('630', '36447'): '0115837',
 ('631', '19042'): '0115509',
 ('632', '38884'): '0114671',
 ('633', '47449'): '0112844',
 ('635', '41852'): '0116275',
 ('637', '9099'): '0117608',
 ('638', '2021'): '0113448',
 ('639', '61752'): '0116414',
 ('640', '10988'): '0116095',
 ('647', '10684'): '0115956',
 ('648', '954'): '0117060',
 ('650', '18989'): '0117071',
 ('651', '10801'): '0117788',
 ('653', '8840'): '0116136',
 ('656', '11107'): '0116168',
 ('659', '10363'): '0054189',
 ('661', '10539'): '0116683',
 ('662', '10543'): '0116287',
 ('663', '18414'): '0116768',
 ('664', '47502'): '0116269',
 ('665', '11902'): '0114787',
 ('667', '25087'): '0112536',
 ('668', '5801'): '0048473',
 ('670', '896'): '0052572',
 ('671', '3065'): '0117128',
 ('673', '2300'): '0117705',
 ('674', '8069'): '0062711',
 ('678', '27768'): '0108181',
 ('679', '221917'): '0114307',
 ('680', '8072'): '0058898',
 ('681', '35797'): '0082206',
 ('685', '33245'): '0113443',
 ('687', '124460'): '0109491',
 ('688', '27281'): '0114048',
 ('690', '105045'): '0111613',
 ('691', '40001'): '0117104',
 ('692', '29621'): '0117688',
 ('694', '20762'): '0117774',
 ('695', '37144'): '0114736',
 ('696', '48260'): '0112604',
 ('697', '12656'): '0116289',
 ('698', '38867'): '0109593',
 ('700', '25969'): '0112368',
 ('702', '753'): '0062952',
 ('703', '43634'): '0115742',
 ('704', '9103'): '0117420',
 ('705', '90214'): '0115951',
 ('707', '10990'): '0117107',
 ('708', '8866'): '0117979',
 ('709', '12233'): '0095776',
 ('710', '23449'): '0115851',
 ('711', '36355'): '0116322',
 ('714', '922'): '0112817',
 ('715', '11876'): '0113362',
 ('718', '11687'): '0108500',
 ('719', '9304'): '0117108',
 ('720', ''): '0118114',
 ('721', ''): '0114103',
 ('722', '73183'): '0113270',
 ('724', '9100'): '0115963',
 ('725', '20759'): '0116448',
 ('726', '46063'): '0116827',
 ('728', '32513'): '0112701',
 ('731', '36915'): '0116508',
 ('733', '9802'): '0117500',
 ('735', '21588'): '0109592',
 ('736', '664'): '0117998',
 ('737', '11867'): '0115624',
 ('741', '9323'): '0113568',
 ('742', '10280'): '0117894',
 ('743', '10535'): '0117723',
 ('745', '532'): '0112691',
 ('746', '26744'): '0040366',
 ('747', '16299'): '0117768',
 ('748', '10547'): '0115571',
 ('750', '935'): '0057012',
 ('753', '41007'): '0113849',
 ('754', '35645'): '0113188',
 ('755', '110465'): '0042644',
 ('756', '255546'): '0109381',
 ('757', '40751'): '0109688',
 ('759', '85778'): '0110480',
 ('760', '11101'): '0108211',
 ('761', '9826'): '0117331',
 ('762', '9879'): '0117765',
 ('764', '22621'): '0113280',
 ('765', '7095'): '0116669',
 ('766', '26890'): '0116594',
 ('767', '46732'): '0113211',
 ('769', ''): '0116992',
 ('775', '41225'): '0063715',
 ('778', '627'): '0117951',
 ('779', '32872'): '0118523',
 ('780', '602'): '0116629',
 ('781', '14553'): '0117737',
 ('782', '9566'): '0116277',
 ('783', '10545'): '0116583',
 ('784', '9894'): '0115798',
 ('785', '11543'): '0116778',
 ('786', '9268'): '0116213',
 ('787', '52059'): '0113147',
 ('788', '9327'): '0117218',
 ('793', '124306'): '0106810',
 ('798', '11228'): '0116040',
 ('799', '10779'): '0116365',
 ('800', '26748'): '0116905',
 ('801', '38223'): '0116493',
 ('802', '9294'): '0117333',
 ('803', '49963'): '0118113',
 ('804', '11363'): '0117628',
 ('805', '1645'): '0117913',
 ('806', '31546'): '0115530',
 ('808', '36344'): '0115493',
 ('809', '18550'): '0116320',
 ('810', '11511'): '0116756',
 ('813', '34170'): '0116823',
 ('816', '124645'): '0117999',
 ('818', '12606'): '0118073',
 ('820', '35206'): '0049521',
 ('824', '12632'): '0110246',
 ('828', '18975'): '0115472',
 ('829', '11962'): '0116707',
 ('830', '2925'): '0116313',
 ('831', '28628'): '0114550',
 ('832', '3595'): '0117438',
 ('833', '9308'): '0116531',
 ('834', '92381'): '0117332',
 ('835', '18555'): '0116353',
 ('836', '12123'): '0115857',

In [100]:
%%time

for _ in range(10 ** 4):
    dict_[tuple_to_search]

CPU times: total: 0 ns
Wall time: 2 ms

# Part 2

- pivot tables
- filters & calculations with `loc` method
- filter empty values via `isnull`
- time in pandas
- row methods
- word forms

In [101]:
import pandas as pd

In [102]:
ratings = pd.read_csv('data/test/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [103]:
# Find users who always put high rating and those who always put low ratings

# Firstly, find all rating put by user #1 
user_1_ratings = ratings[(ratings['userId'] == 1)]
user_1_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [104]:
print(len(user_1_ratings[(user_1_ratings['rating'] == 1)]))
print(len(user_1_ratings[(user_1_ratings['rating'] == 2)]))
print(len(user_1_ratings[(user_1_ratings['rating'] == 3)]))
print(len(user_1_ratings[(user_1_ratings['rating'] == 4)]))
print(len(user_1_ratings[(user_1_ratings['rating'] == 5)]))

2
7
4
3
0

In [105]:
# Or
ratings[(ratings.userId == 1)].rating.value_counts()

2.0    7
3.0    4
2.5    3
4.0    3
1.0    2
3.5    1
Name: rating, dtype: int64

Pivot tables

In [106]:
ratings_pivot = ratings.pivot_table(index='userId', columns='rating', values='timestamp', aggfunc='count', fill_value=0, margins=True, margins_name='Ratings count')
ratings_pivot.head()

rating  0.5  1.0  1.5  2.0  2.5  3.0  3.5  4.0  4.5  5.0  Ratings count
userId
1         0    2    0    7    3    4    1    3    0    0             20
2         0    2    0    4    0   36    0   23    0   11             76
3         0    0    0    1    3   18    9   11    4    5             51
4         0    5    0    5    0   23    0   52    0  119            204
5         0    0    1    0    3    3   27   42   19    5            100

In [107]:
ratings_pivot[5.0].sort_values(ascending=False).head()

userId
Ratings count    15095
564                408
232                243
242                219
547                214
Name: 5.0, dtype: int64

In [108]:
ratings_pivot.sort_values(by=5.0, ascending=False).head()

rating,0.5,1.0,1.5,2.0,2.5,3.0,3.5,4.0,4.5,5.0,Ratings count
userId,,,,,,,,,,,
Ratings count,1101,3326,1687,7271,4449,20064,10538,28750,7723,15095,100004
564,0,152,0,187,0,414,0,707,0,408,1868
232,0,35,0,32,0,96,0,276,0,243,682
242,0,0,0,4,0,25,0,151,0,219,399
547,53,79,58,204,177,411,378,591,226,214,2391

Get most visited pages

In [109]:
log = pd.read_csv('data/test/visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [110]:
# Count unique pages and get most visited pages
print(log.url.nunique())

log['url_path'] = log.url.apply(lambda url: url.replace('https://host.ru/', ''))
log.url_path.value_counts().head()

38

3c19b4ef7371864fa3    541
108ce4b365afb7b88e    534
23c64743ad842b9311    532
1afc5618562365020a    529
2fcb223266880ccf57    526
Name: url_path, dtype: int64

Filters and calculations with `loc` & `iloc`

In [111]:
# method `loc` allows to select rows & columns with conditions
# `:` means that all values are selected
log.loc[:, ['user_id', 'region']].head()

      user_id  region
0  b1613cc09f  Russia
1  4c3ec14bee  Russia
2  a8c40697fb  Russia
3  521ac1d6a0  Russia
4  d7323c571c  Russia

In [112]:
# pretty much the same but using indexes
log.iloc[:, [2, 4]].head()

                                  url     user_id
0  https://host.ru/3c19b4ef7371864fa3  b1613cc09f
1  https://host.ru/c8d9213a31839f9a3a  4c3ec14bee
2  https://host.ru/b8b58337d272ee7b15  a8c40697fb
3  https://host.ru/b8b58337d272ee7b15  521ac1d6a0
4  https://host.ru/b8b58337d272ee7b15  d7323c571c

In [113]:
# example using filters (conditions)
log.loc[log.region == 'Russia'].head()

,timestamp,visit_id,url,region,user_id,traffic_source,url_path
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,3c19b4ef7371864fa3
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,c8d9213a31839f9a3a
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,b8b58337d272ee7b15
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,b8b58337d272ee7b15
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,b8b58337d272ee7b15

In [114]:
# example of setting new row according to given condtion
log.loc[log.region == 'Russia', 'VAT'] = 1.2
log.head(9)

,timestamp,visit_id,url,region,user_id,traffic_source,url_path,VAT
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,3c19b4ef7371864fa3,1.2
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,c8d9213a31839f9a3a,1.2
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,b8b58337d272ee7b15,1.2
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,b8b58337d272ee7b15,1.2
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,b8b58337d272ee7b15,1.2
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,df646c3676cc259fa0,1.2
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,b8b58337d272ee7b15,1.2
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,108ce4b365afb7b88e,1.2
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,3004a8273caeef2867,NaN

In [115]:
# example using lambda functions
log.loc[lambda row: row.region == 'Russia'].head(9)

,timestamp,visit_id,url,region,user_id,traffic_source,url_path,VAT
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,3c19b4ef7371864fa3,1.2
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,c8d9213a31839f9a3a,1.2
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,b8b58337d272ee7b15,1.2
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,b8b58337d272ee7b15,1.2
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,b8b58337d272ee7b15,1.2
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,df646c3676cc259fa0,1.2
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,b8b58337d272ee7b15,1.2
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,108ce4b365afb7b88e,1.2
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,df646c3676cc259fa0,1.2

`loc` method efficiency

In [116]:
movies = pd.read_csv('data/movielens/movies.csv')
ratings = pd.read_csv('data/movielens/ratings.csv')
# joined = movies.merge(ratings, how='left', on='movieId')
joined = ratings.merge(movies, how='left', on='movieId')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [117]:
# calculate average rating for specific genre ~ Adventure
joined['adventure'] = joined.apply(lambda row: row.rating if 'Adventure' in row.genres else None, axis=1)
joined.head()

,userId,movieId,rating,timestamp,title,genres,adventure
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,NaN
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,NaN
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,NaN
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,NaN

In [118]:
joined.adventure.mean()

3.5086089151939075

In [119]:
# the same way but using loc
joined['adventure'] = joined.loc[joined.genres.str.contains('Adventure'), 'rating']
joined.head()

,userId,movieId,rating,timestamp,title,genres,adventure
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4.0
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,NaN
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,NaN
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,NaN
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,NaN

In [120]:
# test both approaches for multiple genres
genres = ['Adventure', 'Animation', 'Children', 'Drama', 'Musical', 'Thriller']

In [121]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

for genre in genres:
    joined[genre] = joined.apply(lambda row: row.rating if genre in row.genres else None, axis=1)
joined.rating.mean()

CPU times: total: 7.72 s
Wall time: 7.75 s

3.501556983616962

In [122]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

for genre in genres:
    joined[genre] = joined.loc[joined.genres.str.contains(genre), 'rating']
joined.rating.mean()

CPU times: total: 234 ms
Wall time: 235 ms

3.501556983616962

In [123]:
%%time
joined = ratings.merge(movies, how='left', on='movieId')

filtered = joined[joined.genres.isin(genres)]
filtered.rating.mean()

CPU times: total: 31.2 ms
Wall time: 36.9 ms

3.660826210826211

Exercise

Create a new column 'traffic_type', in which for 'yandex' & 'google' traffic sources will be put the value 'organic', othrewise - NaN.

In [124]:
log = pd.read_csv('data/test/visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [125]:
applicable_sources = ('yandex', 'google')

log.loc[log.traffic_source.isin(applicable_sources), 'traffic_type'] = 'organic'
log.loc[pd.isnull(log.traffic_type), 'traffic_type'] = 'other'
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,traffic_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,other
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

Defining empty row with `isnull` & `isna`

In [126]:
import numpy as np

In [127]:
df = pd.DataFrame({'value': [123, None, np.nan, np.NaN, np.NAN, 456]})
df

   value
0  123.0
1    NaN
2    NaN
3    NaN
4    NaN
5  456.0

In [128]:
# get emtpy values
df.loc[pd.isnull(df.value), :]

   value
1    NaN
2    NaN
3    NaN
4    NaN

In [129]:
df.fillna(0)

   value
0  123.0
1    0.0
2    0.0
3    0.0
4    0.0
5  456.0

Date and time in pandas

In [130]:
log['date'] = pd.to_datetime(log['timestamp'], unit='s')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,traffic_type,date
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic,2019-02-12 14:11:32
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,other,2019-02-12 14:11:44
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic,2019-02-12 14:11:55
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic,2019-02-12 14:12:05
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic,2019-02-12 14:12:16

In [131]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18938 entries, 0 to 18937
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       18938 non-null  int64
 1   visit_id        18938 non-null  object
 2   url             18938 non-null  object
 3   region          18938 non-null  object
 4   user_id         18938 non-null  object
 5   traffic_source  18938 non-null  object
 6   traffic_type    18938 non-null  object
 7   date            18938 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 1.2+ MB

In [137]:
log['hour'] = log.date.dt.hour
log['weekday'] = log.date.dt.weekday
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source,traffic_type,date,hour,weekday,strftime
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic,2019-02-12 14:11:32,14,1,<bound method PandasDelegate._add_delegate_acc...
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,other,2019-02-12 14:11:44,14,1,<bound method PandasDelegate._add_delegate_acc...
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic,2019-02-12 14:11:55,14,1,<bound method PandasDelegate._add_delegate_acc...
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic,2019-02-12 14:12:05,14,1,<bound method PandasDelegate._add_delegate_acc...
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic,2019-02-12 14:12:16,14,1,<bound method PandasDelegate._add_delegate_acc...

String methods

In [139]:
stats = pd.read_csv('data/test/keywords.csv')
stats.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [145]:
import re
stats[stats.keyword.str.contains('VK', flags=re.IGNORECASE)].head()

                keyword    shows
22                   vk  4330448
45               vk com  2469370
1198  vkontakte ru вход   159454
2363    vk моя страница    89944
2411           m vk com    88672

[Docs](https://www.geeksforgeeks.org/python-pandas-series-str-contains/)

Syntax: Series.str.contains(pat, case=True, flags=0, na=nan, regex=True)

Parameter :
- pat : Character sequence or regular expression.
- case : If True, case sensitive.
- flags : Flags to pass through to the re module, e.g. re.IGNORECASE.
- na : Fill value for missing values.
- regex : If True, assumes the pat is a regular expression.

In [153]:
serial = stats[stats.keyword.str.contains('сериалы')]
serial.keyword.str.replace('сереал', 'сериал').head()

246                              сериалы
304                          сериалы тут
555    турецкие сериалы на русском языке
881                      русские сериалы
890                       сериалы онлайн
Name: keyword, dtype: object

In [154]:
serial.keyword.str.upper().head()

246                              СЕРИАЛЫ
304                          СЕРИАЛЫ ТУТ
555    ТУРЕЦКИЕ СЕРИАЛЫ НА РУССКОМ ЯЗЫКЕ
881                      РУССКИЕ СЕРИАЛЫ
890                       СЕРИАЛЫ ОНЛАЙН
Name: keyword, dtype: object

In [155]:
serial.keyword.str.lower().head()

246                              сериалы
304                          сериалы тут
555    турецкие сериалы на русском языке
881                      русские сериалы
890                       сериалы онлайн
Name: keyword, dtype: object

In [156]:
# We cannot use this keyword because we can accidentally get 'рубленая котлетка
stats[stats.keyword.str.contains('рубл')].head()

                                                keyword   shows
1202   алиэкспресс на русском в рублях официальный сайт  161553
1602                                курс гривны к рублю  125076
1736  али экспресс русская версия на русском в рубля...  117260
2132                                    доллары в рубли  114173
2172                              100 долларов в рублях   97534

In [157]:
from pymystem3 import Mystem

In [168]:
search = 'курс гривны к рублю рубли рублях однушка однушки'

In [169]:
m = Mystem()
lemmas = m.lemmatize(search)
lemmas

['курс',
 ' ',
 'гривна',
 ' ',
 'к',
 ' ',
 'рубль',
 ' ',
 'рубль',
 ' ',
 'рубль',
 ' ',
 'однушка',
 ' ',
 'однушка',
 '\n']

In [170]:
' '.join(lemmas).strip()

'курс   гривна   к   рубль   рубль   рубль   однушка   однушка'

For other languages use `pymorphy` or `nltk`