# Lesson #7

## Dataframes merge & big files & joins

In [1]:
import pandas as pd

For each user `user_id` find most expensive purchase from sales_db.csv

In [7]:
# Not most optimized way to do it
sales = pd.read_csv('data/test/sales_db.csv')
sales.sort_values(by='cost', ascending=False)
sales.groupby('user_id').max()

            category  cost
user_id
1        Электроника   199
2               Авто    35
3               Дети     8
9               Дети    17

In [10]:
prev_user = None
purchases = {}

with open('data/test/sales_db.csv', 'r') as f:
    # Skip first line (headings)
    f.readline()
    
    for i, line in enumerate(f):
        user_id, category, cost = line.strip().split(',')
        cost = int(cost)
        print(user_id, cost)
        
        if prev_user == user_id:
            if a:=purchases.get(user_id):
                if a < cost:
                    purchases[user_id] = cost
        else:
            prev_user = user_id
            purchases[user_id] = cost
        
        if i > 9:
            break
        
print(purchases)

1 87
1 10
1 2
1 199
2 3
2 35
3 8
9 17
{'1': 199, '2': 35, '3': 8, '9': 17}

Merging two dataframes

In [13]:
purchases = pd.read_csv('data/test/sales_db.csv')
purchases_pivot = purchases.pivot_table(index='user_id', columns='category', values='user_id', aggfunc='size', fill_value=0)
purchases_pivot.head()

category  Авто  Дача  Дети  Электроника
user_id
1            0     2     1            1
2            2     0     0            0
3            0     0     1            0
9            0     0     1            0