# Lesson #4
## Pandas

In [25]:
import pandas as pd

In [26]:
ratings = pd.read_csv('data/movielens/ratings.csv')

In [27]:
ratings.head(3)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224

In [28]:
ratings.tail(3)

        userId  movieId  rating   timestamp
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

In [29]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [30]:
# Number of unique films
len(ratings.movieId.unique())

9724

In [31]:
# Which user had put most ratings
ratings.groupby('userId').count().sort_values('movieId', ascending=False).head()

        movieId  rating  timestamp
userId
414        2698    2698       2698
599        2478    2478       2478
474        2108    2108       2108
448        1864    1864       1864
274        1346    1346       1346

In [32]:
# Which movie has the highest number of ratings (not highest rating)
ratings.groupby('movieId').count().sort_values('rating', ascending=False).head()

         userId  rating  timestamp
movieId
356         329     329        329
318         317     317        317
296         307     307        307
593         279     279        279
2571        278     278        278

In [33]:
%%time

ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']

ratings_grouped['diff'].mean() / 24 / 3600

CPU times: total: 15.6 ms
Wall time: 14 ms

234.29512251442014

In [34]:
movies = pd.read_csv('data/movielens//movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Join two tables

In [35]:
# joined = ratings.merge(movies, on='movieId', how='right')
joined = movies.merge(ratings, on='movieId', how='left')
joined.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09

In [41]:
pd.read_html('http://www.cbr.ru')[0]

Requirement already satisfied: html5lib in e:\programs\anaconda\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in e:\programs\anaconda\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in e:\programs\anaconda\lib\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: lxml in e:\programs\anaconda\lib\site-packages (4.8.0)
Requirement already satisfied: beautifulSoup4 in e:\programs\anaconda\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in e:\programs\anaconda\lib\site-packages (from beautifulSoup4) (2.3.1)

ImportError: html5lib not found, please install it

In [45]:
page_url = 'https://www.finanz.ru/valyuty/usd-rub'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, attrs = {'class': 'news_table'}, encoding='utf-8')
df[:5]

[       Дата  Закрытие  Открытие  Максимум  Минимум
 0  30.07.22    622500    622500    622500   622500
 1  29.07.22    622500    625000    640475   604750
 2  28.07.22    625000    593750    627501   592750
 3  27.07.22    593750    601251    617750   593749
 4  26.07.22    601250    585000    611000   570000
 5  25.07.22    585000    580000    592415   570000
 6  23.07.22    581250    581250    581250   581250
 7  22.07.22    581250    565250    593380   561250,
        Имя  Unnamed: 1     %    курс                 Дата
 0  EUR/RUB         NaN -2666  634965  01.08.2022 14:18:00
 1  USD/RUB         NaN -4417   61975  01.08.2022 14:14:00
 2  CHF/RUB         NaN -2401  652506  01.08.2022 14:18:00
 3  JPY/RUB         NaN  2712    4686  01.08.2022 14:18:00
 4  GBP/RUB         NaN    -3  757892  01.08.2022 14:18:00
 5  NOK/RUB         NaN -2212   64259  01.08.2022 14:17:00
 6  AUD/RUB         NaN   306  436242  01.08.2022 14:17:00
 7  NZD/RUB         NaN  3374   39255  01.08.2022 14:17:00
 8  TRY/RUB         NaN -3781   34596  01.08.2022 14:17:00]

In [46]:
data = pd.read_csv('data/test/power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1